.catalog{
    transition: 1s all;
    &.preload{
        opacity: 0.5;
    }

    &-pagination {
        display: flex;
        justify-content: center;
        align-items: center;

        &-item {
            width: 20px;
            height: 20px;
            border: 2px solid #000000;
            color: #000000;
            text-align: center;
            margin: 0 10px;   
        }
        &-item.active {
            background-color: aqua;
        }
    }
}
