.catalog{
    transition: 1s all;

    &_products{
        display: flex;

        &_item{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 20%;

            img{
                width: 100%;
                height: 200px;
                
            }
        }
    }

    &.preload{
        opacity: 0.4;
    }
}

.catalog{
    &_pagination{
        display: flex;
        justify-content: center;
        margin-top: 20px;

        &_item{
            width: 30px;
            height: 30px;
            background-color: pink;
            margin-right: 10px;

            h2{
                width: 100%;
            }
//верстка каталога, адаптивка 
            &.active{
                background-color: rgb(253, 109, 133);
            }
        }
    }

    &-pagination {
        display: flex;
        justify-content: center;
        align-items: center;

        &-item {
            width: 20px;
            height: 20px;
            border: 2px solid #000000;
            color: #000000;
            text-align: center;
            margin: 0 10px;   
        }
        &-item.active {
            background-color: aqua;
        }
    }
}
