* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif;
}

.wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 13px;
  padding: 35px 0;
  position: relative;
}

.wrapper .header:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: inherit;
  background-color: #f1efef;
}

.wrapper .header_start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header_start .logo {
  width: 50px;
  height: 50px;
  background: url(/images/icons/logo.jpg) center center/contain no-repeat;
}

.wrapper .header_start .main_menu {
  margin-left: 65px;
}

.wrapper .header_start .main_menu a {
  margin-right: 25px;
}

.wrapper .header_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .header_end div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.wrapper .header_end div.account .pic {
  width: 30px;
  height: 30px;
  background: url(/images/icons/account.png) center center/contain no-repeat;
}

.wrapper .header_end div.basket .pic {
  width: 30px;
  height: 30px;
  background: url(/images/icons/bascet.png) center center/contain no-repeat;
}

.wrapper .main_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0 40px 0;
}

.wrapper .main_info h1 {
  width: 100%;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 400;
}

.wrapper .main_info h2 {
  width: 100%;
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-weight: 400;
  color: #8a8a8a;
  margin-bottom: 60px;
  margin-top: 10px;
}

.wrapper .main_info button {
  width: 230px;
  height: 60px;
  color: #757575;
  text-transform: uppercase;
  border: 1px solid #989898;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.wrapper .magazine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 920px;
  color: #ffffff;
}

.wrapper .magazine span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .magazine span p {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  width: 75%;
}

.wrapper .magazine span i {
  font-family: 'Noto Serif', serif;
  font-size: 15px;
  text-align: center;
  width: 75%;
}

.wrapper .magazine div {
  width: 25%;
}

.wrapper .magazine div.line_1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.wrapper .magazine div.line_1 div:nth-child(1) {
  height: 66.6%;
  background: url(/images/1.jpg) center center/cover no-repeat;
}

.wrapper .magazine div.line_1 div:nth-child(2) {
  height: 33.3%;
  background: url(/images/5.jpg) center right/cover no-repeat;
}

.wrapper .magazine div.line_2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.wrapper .magazine div.line_2 div:nth-child(1) {
  height: 33.3%;
  background-color: rgba(0, 0, 0, 0.3);
}

.wrapper .magazine div.line_2 div:nth-child(1) span .pic {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  background: url(/images/icons/attention-sign-outline.png) center center/contain no-repeat;
}

.wrapper .magazine div.line_2 div:nth-child(1) span .pic::before {
  content: '';
  width: 25px;
  height: 1px;
  background-color: #ffffff;
  position: relative;
  top: 0;
  left: -30px;
}

.wrapper .magazine div.line_2 div:nth-child(1) span .pic::after {
  content: '';
  width: 25px;
  height: 1px;
  background-color: #ffffff;
  position: relative;
  top: 0;
  left: 30px;
}

.wrapper .magazine div.line_2 div:nth-child(2) {
  height: 33.3%;
  background: url(/images/2.jpg) center center/cover no-repeat;
}

.wrapper .magazine div.line_2 div:nth-child(3) {
  height: 33.3%;
  background-color: rgba(0, 0, 0, 0.6);
}

.wrapper .magazine div.line_2 div:nth-child(3) span .pic {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  background: url(/images/icons/arrow-left.png) center center/contain no-repeat;
}

.wrapper .magazine div.line_3 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.wrapper .magazine div.line_3 div:nth-child(1) {
  height: 33.3%;
  background: url(/images/3.jpg) center center/cover no-repeat;
}

.wrapper .magazine div.line_3 div:nth-child(2) {
  height: 33.3%;
  background-color: rgba(0, 0, 0, 0.3);
}

.wrapper .magazine div.line_3 div:nth-child(2) span .pic {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  background: url(/images/icons/attention-sign-outline.png) center center/contain no-repeat;
}

.wrapper .magazine div.line_3 div:nth-child(2) span .pic::before {
  content: '';
  width: 25px;
  height: 1px;
  background-color: #ffffff;
  position: relative;
  top: 0;
  left: -30px;
}

.wrapper .magazine div.line_3 div:nth-child(2) span .pic::after {
  content: '';
  width: 25px;
  height: 1px;
  background-color: #ffffff;
  position: relative;
  top: 0;
  left: 30px;
}

.wrapper .magazine div.line_3 div:nth-child(3) {
  height: 33.3%;
  background: url(/images/6.jpg) center center/cover no-repeat;
}

.wrapper .magazine div.line_3 div .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper .magazine div.line_4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.wrapper .magazine div.line_4 div:nth-child(1) {
  height: 33.3%;
  background-color: rgba(0, 0, 0, 0.6);
}

.wrapper .magazine div.line_4 div:nth-child(1) span .pic {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  background: url(/images/icons/arrow-left.png) center center/contain no-repeat;
}

.wrapper .magazine div.line_4 div:nth-child(2) {
  height: 66.6%;
  background: url(/images/4.jpg) center center/cover no-repeat;
}

.wrapper .connection {
  width: 100%;
  text-align: center;
  padding: 200px 0;
}

.wrapper .connection h2 {
  width: 100%;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 300;
  color: #464545;
}

.wrapper .connection h3 {
  width: 100%;
  text-align: center;
  color: #8a8a8a;
  margin-bottom: 50px;
  margin-top: 10px;
  font: italic 400 17px 'Noto Serif', serif;
}

.wrapper .connection form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.wrapper .connection form input {
  height: 55px;
  width: 380px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .connection form button {
  width: 145px;
  background-color: #ff8c29;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 11px;
}

.wrapper .connection .error {
  color: #f70303;
  font-size: 13px;
}

.wrapper .footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 60px;
}

.wrapper .footer_block {
  width: 17%;
}

.wrapper .footer_block h3 {
  text-transform: uppercase;
  font-size: 13px;
  color: #3e3e3e;
  margin-bottom: 10px;
}

.wrapper .footer_block .list a {
  display: block;
  font-size: 12px;
  color: #757373;
  line-height: 24px;
}

.wrapper .footer_block .list a:hover {
  text-decoration: underline;
}

.wrapper .footer_block .list p {
  font-size: 12px;
  color: #757373;
  line-height: 24px;
}

.wrapper .footer_block.shop {
  margin-left: 155px;
  position: relative;
}

.wrapper .footer_block.shop::before {
  content: '';
  position: absolute;
  width: 2px;
  left: -225px;
  top: -25px;
  bottom: -25px;
  background-color: #f5f3f3;
}

.wrapper .footer_block.shop::after {
  content: '';
  position: absolute;
  width: 2px;
  right: -70px;
  top: -25px;
  bottom: -25px;
  background-color: #f5f3f3;
}

.wrapper .footer_block .social_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.wrapper .footer_block .social_buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #757373;
  margin-right: 15px;
}

.wrapper .footer_block .social_buttons div i {
  color: #757373;
}
/*# sourceMappingURL=style.css.map */