*{
<<<<<<< HEAD
    padding: 0 auto;
    margin: 0 auto;
    text-decoration: none;
}
.wrapper{
    max-width: 1200px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
    padding: 10px;

    &-left{
        a{
            color: black;
        }
    }
    &-right{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hallo, .basket{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
.basket{
    color: grey;

    h2, p{
        text-align: center;
    }
    h2{
        margin-top: 40px;
        color: black;
    }
    p{
        font-style: italic;
        margin-bottom: 40px;
    }
    &-heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid grey;

        &-left, &-right{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        div{
            margin: 5px 15px;
        }
    }
}
=======
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000000;
}
.wrapper{
    width: 1280px;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 13px;
        padding: 35px 0;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            height: 1px;
            width: inherit;
            background-color: #f1efef;
        }

        &_start{
            display: flex;
            align-items: center;

            .logo{
                width: 50px;
                height: 50px;
                background: url(/images/icons/logo.jpg) center center / contain no-repeat;
            }

            .main_menu{
                margin-left: 65px;
    
                a{
                    margin-right: 25px;
                }
            }
        }

        &_end{
            display: flex;

            div{
                display: flex;
                align-items: center;
                margin-left: 20px;

                &.account{
                    .pic{
                        width: 30px;
                        height: 30px;
                        background: url(/images/icons/account.png) center center / contain no-repeat;
                    }
                }
    
                &.basket{
                    .pic{
                        width: 30px;
                        height: 30px;
                        background: url(/images/icons/bascet.png) center center / contain no-repeat;
                    }
                }
            }
        }
    }

    .main_info{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 100px 0 40px 0;

        h1{
            width: 100%;
            text-align: center;
            font-size: 60px;
            text-transform: uppercase;
            font-weight: 400;
        }

        h2{
            width: 100%;
            text-align: center;
            font-family: 'Noto Serif', serif;
            font-style: italic;
            font-weight: 400;
            color: #8a8a8a;
            margin-bottom: 60px;
            margin-top: 10px;
        }

        button{
            width: 230px;
            height: 60px;
            color: #757575;
            text-transform: uppercase;
            border: 1px solid #989898;
            background-color: #ffffff;
            margin-bottom: 20px;
        }
    }

    .magazine{
        display: flex;
        width: 100%;
        height: 920px;
        color: #ffffff;

        span{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            p{
                font-size: 25px;
                text-transform: uppercase;
                text-align: center;
                width: 75%;
            }
    
            i{
                font-family: 'Noto Serif', serif;
                font-size: 15px;
                text-align: center;
                width: 75%;
            }
        }

        div{
            width: 25%;

            &.line_1{

                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;

                    &:nth-child(1){
                        height: 66.6%;
                        background: url(/images/1.jpg) center center / cover no-repeat;
                    }
    
                    &:nth-child(2){
                        height: 33.3%;
                        background: url(/images/5.jpg) center right / cover no-repeat;
                    }
                }
            }

            &.line_2{

                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;

                    &:nth-child(1){
                        height: 33.3%;
                        background-color: rgba(0, 0, 0, 0.3);

                        span{
                            .pic{
                                width: 100%;
                                height: 35px;
                                margin-bottom: 10px;
                                background: url(/images/icons/attention-sign-outline.png) center center / contain no-repeat;
                                
                                &::before{
                                    content: '';
                                    width: 25px;
                                    height: 1px;
                                    background-color: #ffffff;
                                    position: relative;
                                    top: 0;
                                    left: -30px;
                                }

                                &::after{
                                    content: '';
                                    width: 25px;
                                    height: 1px;
                                    background-color: #ffffff;
                                    position: relative;
                                    top: 0;
                                    left: 30px;
                                }
                            }
                        }
                    }
    
                    &:nth-child(2){
                        height: 33.3%;
                        background: url(/images/2.jpg) center center / cover no-repeat;
                    }
    
                    &:nth-child(3){
                        height: 33.3%;
                        background-color: rgba(0, 0, 0, 0.6);

                        span{
                            .pic{
                                width: 100%;
                                height: 35px;
                                margin-bottom: 10px;
                                background: url(/images/icons/arrow-left.png) center center / contain no-repeat;
                            }
                        }
                    }
                }
            }

            &.line_3{

                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;

                    &:nth-child(1){
                    height: 33.3%;
                    background: url(/images/3.jpg) center center / cover no-repeat;
                    }

                    &:nth-child(2){
                        height: 33.3%;
                        background-color: rgba(0, 0, 0, 0.3);

                        span{
                            .pic{
                                width: 100%;
                                height: 35px;
                                margin-bottom: 10px;
                                background: url(/images/icons/attention-sign-outline.png) center center / contain no-repeat;
                            
                                &::before{
                                    content: '';
                                    width: 25px;
                                    height: 1px;
                                    background-color: #ffffff;
                                    position: relative;
                                    top: 0;
                                    left: -30px;
                                }

                                &::after{
                                    content: '';
                                    width: 25px;
                                    height: 1px;
                                    background-color: #ffffff;
                                    position: relative;
                                    top: 0;
                                    left: 30px;
                                }
                            }
                        }
                    }

                    &:nth-child(3){
                        height: 33.3%;
                        background: url(/images/6.jpg) center center / cover no-repeat;
                    }
                    .field{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }
            }

            &.line_4{

                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;

                    &:nth-child(1){
                        height: 33.3%;
                        background-color: rgba(0, 0, 0, 0.6);

                        span{
                            .pic{
                                width: 100%;
                                height: 35px;
                                margin-bottom: 10px;
                                background: url(/images/icons/arrow-left.png) center center / contain no-repeat;
                            }
                        }
                    }
    
                    &:nth-child(2){
                        height: 66.6%;
                        background: url(/images/4.jpg) center center / cover no-repeat;
                    }
                }
            }
        }
    }

    .connection{
        width: 100%;
        text-align: center;
        padding: 200px 0;

        h2{
            width: 100%;
            text-transform: uppercase;
            font-size: 35px;
            font-weight: 300;
            color: #464545;
        }

        h3{
            width: 100%;
            text-align: center;
            color: #8a8a8a;
            margin-bottom: 50px;
            margin-top: 10px;
            font: italic 400 17px 'Noto Serif', serif;
        }

        form{
            display: flex;
            justify-content: center;
            margin-bottom: 25px;

            input{
                height: 55px;
                width: 380px;
                padding: 10px;
                box-sizing: border-box;
            }

            button{
                width: 145px;
                background-color: #ff8c29;
                border: none;
                color: #ffffff;
                text-transform: uppercase;
                font-size: 11px;
            }
        }

        .error{
            color: #f70303;
            font-size: 13px;
        }
    }

    .footer{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 60px;

        &_block{
            width: 17%;
            
            h3{
                text-transform: uppercase;
                font-size: 13px;
                color: #3e3e3e;
                margin-bottom: 10px;
            }

            .list{
    
                a{
                    display: block;
                    font-size: 12px;
                    color: #757373;
                    line-height: 24px;

                    &:hover{
                        text-decoration: underline;
                    }
                }
    
                p{
                    font-size: 12px;
                    color: #757373;
                    line-height: 24px;
                }

            }

            &.shop{
                margin-left: 155px;
                position: relative;
    
                &::before{
                    content: '';
                    position: absolute;
                    width: 2px;
                    left: -225px;
                    top: -25px;
                    bottom: -25px;
                    background-color: #f5f3f3;
                }
    
                &::after{
                    content: '';
                    position: absolute;
                    width: 2px;
                    right: -70px;
                    top: -25px;
                    bottom: -25px;
                    background-color: #f5f3f3;
                }
            }

            .social_buttons{
                display: flex;
                margin-top: 20px;

                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #757373;
                    margin-right: 15px;

                    i{
                        color: #757373;
                    }
                }
            }
        }
    }
}
>>>>>>> origin/victoria-version
